
<div class="eirow row">
    <div class="col-md-12 col-sm-12">
        <div class="container eiform">
            <div class="eiform__name">Billing Form</div>
            <div class="eiform__cont">
                <section class="eiform__cont__section">
                    <div class="eiform__cont__section__header">
                        <div class="eiform__cont__section__header__title">1</div><span>Personal Information</span>
                    </div>
                    <form class="eiform__cont__section__form" action="">
                        <div class="eiform__cont__section__form__field">
                            <label for="firstname">First Name</label>
                            <input placeholder="e.g. Richard" id="firstname" type="text" />
                        </div>
                        <div class="eiform__cont__section__form__field">
                            <label for="firstname">Last Name</label>
                            <input placeholder="e.g. Bovell" id="firstname" type="text" />
                        </div>
                        <div class="eiform__cont__section__form__field">
                            <label for="firstname">E-mail</label>
                            <input placeholder="e.g. rb@apple.com" id="firstname" type="email" />
                        </div>
                        <div class="eiform__cont__section__form__field">
                            <label for="firstname">Mobile Number</label>
                            <input placeholder="e.g. 99000 00000" id="firstname" type="text" />
                        </div>
                    </form>
                </section>
                <section class="eiform__cont__section">
                    <div class="eiform__cont__section__header">
                        <div class="eiform__cont__section__header__title">2</div><span>Product</span>
                    </div>
                    <form class="eiform__cont__section__form" action="">
                        <div class="eiform__cont__section__form__fieldbutton">
                            <label for="firstname">Product ID</label>
                            <input placeholder="e.g. Richard" id="firstname" type="text" />
                            <a class="eibutton" id="getproduct">
                                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            </a>
                            <div class="eiclear"></div>
                        </div>
                    </form>
                </section>
                <div class="eiform__cont__buttons">
                    <button>Confirm Information</button>
                </div>
            </div>
        </div>                    
    </div>
</div>
