<div class="col-sm-5 eiuseractions">
    <div class="eiuseractions__profile">
        <div class="dropdown-primary dropdown">
            <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="../assets/img/sampleuser.jpg" class="eiuseractions__profile__image" alt="userimage">
                <span>John Doe</span>
                <!--fa-icon class="eiuseractions__profile__dropicon" [icon]="['fas', 'chevron-down']"></fa-icon-->
            </div>
        </div>
    </div>

    <div class="eiuseractions__profile">
        <a class="eiuseractions__profile__adduser" href="index.html"> <fa-icon class="eiuseractions__profile__adduser__icon" [icon]="['fas', 'user-plus']"></fa-icon> </a>
    </div>
</div>